{% extends 'base.html.j2'%}

{% block header %}
    <h1 class='prime-text'>{% block title %}Audio Conversion Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
<main class="access-form w-100 m-auto">
    <form method="post">
        <div class="form-floating mb-3">
            <input class="form-control" name="url" id="url" placeholder='Paste YouTube URL to convert' required>
            <label for="url">Paste YouTube URL to Convert</label>
        </div>
        
        
        <button 
            class="w-100 btn btn-lg btn-primary" 
            style="--bs-btn-bg: #00BFB2; --bs-btn-color: black;"
            type="submit"
        >Convert</button>
    </form>
</main>

{% endblock %}