{% extends 'base.html.j2'%}

{% block header %}
    <h1>{% block title %}FasterVibes{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label>Enter Access Code</label>
    <input type='password' name="access-code" id="access-code" placeholder='Private Access Code' required>
    <input type="submit" value="Submit">
  </form>
{% endblock %}